<%= content_for :title do %>
	<title>Edit Your Profile Info</title>
<% end %>

<h2>Edit Profile</h2>

<%= simple_form_for @user do |f| %>
	<%= f.input :description %>
	<%= f.button :submit, 'Update' %>
<% end %>
